<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <title>Instagram</title>
</head>

<body>
  <header class="insta-header">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <a href=" " class="logoa mt-2 me-2">
            <p class="logo">Instagram</p>
          </a>
        </div>

        <div class="col-lg-5 float-right">
          <mat-form-field class="search">
            <mat-icon aria-hidden="false" aria-label="Example search icon" class="search-icon">search</mat-icon>
            <input matInput placeholder="Search" class="searchbar">
          </mat-form-field>
        </div>

        <div class="col-lg-4 icons">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="home-icon">home</mat-icon>
          
          <mat-icon aria-hidden="false" aria-label="Example messenger icon" class="messenger-icon">chat_bubble_outline</mat-icon>

          <mat-icon aria-hidden="false" aria-label="Example add icon" class="add-icon">add_circle_outline</mat-icon>

          <mat-icon aria-hidden="false" aria-label="Example add icon" class="explore-icon">explore</mat-icon>

          <mat-icon aria-hidden="false" aria-label="Example heart icon" class="heart-icon">favorite_border</mat-icon>

          <mat-icon aria-hidden="false" aria-label="Example profile icon" class="profile-icon">account_circle</mat-icon>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="rectangle">
            <div class="circle">
              <li class="userpics">
                <div><img src="../assets/images/account-avatar-profile-user-14-svgrepo-com.svg"
                    alt="pic1">the_glory_bite
                </div>
                <div><img src="../assets/images/account-avatar-profile-user-12-svgrepo-com.svg" alt="pic2">chaanus_love
                </div>
                <div><img src="../assets/images/account-avatar-profile-user-10-svgrepo-com.svg" alt="pic3">anu_thoughts
                </div>
                <div><img src="../assets/images/account-avatar-profile-user-7-svgrepo-com.svg" alt="pic4">mr.suspicious
                </div>
                <div><img src="../assets/images/account-avatar-profile-user-9-svgrepo-com.svg" alt="pic5">syed_tajuddin
                </div>
                <div><img src="../assets/images/account-avatar-profile-user-4-svgrepo-com.svg" alt="pic6">sushma_cham
                </div>
              </li>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <mat-card class="example-card">
            <mat-card-header class="idname">
              <div mat-card-avatar class="example-header-image1"></div>
              <mat-card-title>
                <h3 class="image1">megha_akash</h3>
              </mat-card-title>
              <mat-icon aria-hidden="false" aria-label="Example more_horiz icon" class="doticon">more_horiz</mat-icon>
            </mat-card-header>

            <img mat-card-image src="../assets/images/Megha-Akash.jpg" alt="megha">

            <div class="baseicons">

              <span><mat-icon aria-hidden="false" aria-label="Example heart icon" class="heart-icon">favorite_border</mat-icon></span>
              <span><mat-icon aria-hidden="false" aria-label="Example comment icon" class="comment">comment</mat-icon></span>
              <span><mat-icon aria-hidden="false" aria-label="Example send icon" class="send">send</mat-icon></span>
              <span><mat-icon aria-hidden="false" aria-label="Example bookmark-border icon" class="save-icon">bookmark_border</mat-icon></span>
                  
            </div>
            <mat-card-content>
              <h3 class="likes">323,323 likes</h3>
              <p><strong>megha_akash</strong> smile :)</p>
              <h4>View all 323 comments</h4>
              <h5>4 HOURS AGO</h5>
            </mat-card-content>
            <mat-divider></mat-divider>
            <div class="comment-section">
              <span><img src="../assets/images/emoji-svgrepo-com.svg" alt="emoji"></span>
              <input type="text" placeholder="Add a comment..." name="comment-section">
            </div>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <mat-card class="example-card">
            <mat-card-header class="idname">
              <div mat-card-avatar class="example-header-image2"></div>
              <mat-card-title>
                <h3 class="image2">arrahman</h3>
              </mat-card-title>
              <mat-icon aria-hidden="false" aria-label="Example more_horiz icon" class="doticon-img2">more_horiz
              </mat-icon>
            </mat-card-header>

            <img mat-card-image src="../assets/images/ar-rahman.jpg" alt="ar-rahman">

            <div class="baseicons">
              <span><mat-icon aria-hidden="false" aria-label="Example heart icon" class="heart-icon">favorite_border</mat-icon></span>
              <span><mat-icon aria-hidden="false" aria-label="Example comment icon" class="comment">comment</mat-icon></span>
              <span><mat-icon aria-hidden="false" aria-label="Example send icon" class="send">send</mat-icon></span>
              <span><mat-icon aria-hidden="false" aria-label="Example bookmark-border icon" class="save-icon">bookmark_border</mat-icon></span>
                  
            </div>
            <mat-card-content>
              <h3 class="likes">456,345 likes</h3>
              <p><strong>arrahman</strong> music love :)</p>
              <h4>View all 456 comments</h4>
              <h5>4 HOURS AGO</h5>
            </mat-card-content>
            <mat-divider></mat-divider>
            <div class="comment-section">
              <span><img src="../assets/images/emoji-svgrepo-com.svg" alt="emoji"></span>
              <input type="text" placeholder="Add a comment..." name="comment-section">
            </div>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <mat-card class="example-card">
            <mat-card-header class="idname">
              <div mat-card-avatar class="example-header-image3"></div>
              <mat-card-title>
                <h3 class="image3">i_nivethathomas</h3>
              </mat-card-title>
              <mat-icon aria-hidden="false" aria-label="Example more_horiz icon" class="doticon-img3">more_horiz
              </mat-icon>
            </mat-card-header>

            <img mat-card-image src="../assets/images/nivetha-thomas.jpg" alt="i_nivethathomas">

            <div class="baseicons">
              <span><mat-icon aria-hidden="false" aria-label="Example heart icon" class="heart-icon">favorite_border</mat-icon></span>
              <span><mat-icon aria-hidden="false" aria-label="Example comment icon" class="comment">comment</mat-icon></span>
              <span><mat-icon aria-hidden="false" aria-label="Example send icon" class="send">send</mat-icon></span>
              <span><mat-icon aria-hidden="false" aria-label="Example bookmark-border icon" class="save-icon">bookmark_border</mat-icon></span>
            </div>
            <mat-card-content>
              <h3 class="likes">456,143 likes</h3>
              <p><strong>i_nivethathomas</strong> nivi love :)</p>
              <h4>View all 334 comments</h4>
              <h5>4 HOURS AGO</h5>
            </mat-card-content>
            <mat-divider></mat-divider>
            <div class="comment-section">
              <span><img src="../assets/images/emoji-svgrepo-com.svg" alt="emoji"></span>
              <input type="text" placeholder="Add a comment..." name="comment-section">
            </div>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <mat-card class="example-card">
            <mat-card-header class="idname">
              <div mat-card-avatar class="example-header-image4"></div>
              <mat-card-title>
                <h3 class="image4">actorprabhas</h3>
              </mat-card-title>
              <mat-icon aria-hidden="false" aria-label="Example more_horiz icon" class="doticon">more_horiz</mat-icon>
            </mat-card-header>

            <img mat-card-image src="../assets/images/darling-prabhas.jpg" alt="actorprabhas">

            <div class="baseicons">
              <span><mat-icon aria-hidden="false" aria-label="Example heart icon" class="heart-icon">favorite_border</mat-icon></span>
              <span><mat-icon aria-hidden="false" aria-label="Example comment icon" class="comment">comment</mat-icon></span>
              <span><mat-icon aria-hidden="false" aria-label="Example send icon" class="send">send</mat-icon></span>
              <span><mat-icon aria-hidden="false" aria-label="Example bookmark-border icon" class="save-icon">bookmark_border</mat-icon></span>
            </div>
            <mat-card-content>
              <h3 class="likes">4,500,345 likes</h3>
              <p><strong>actorprabhas</strong> darling love :)</p>
              <h4>View all 3213 comments</h4>
              <h5>8 HOURS AGO</h5>
            </mat-card-content>
            <mat-divider></mat-divider>
            <div class="comment-section">
              <span><img src="../assets/images/emoji-svgrepo-com.svg" alt="emoji"></span>
              <input type="text" placeholder="Add a comment..." name="comment-section">
            </div>
          </mat-card>
        </div>
      </div>

    </div>
  </header>
</body>

</html>